*{transition:all 0.4s ease-in-out;}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: none;
}
h1, h2, h3, h4, h5, h6 { font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #3551A3;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    font-size: 20px;
}

a {
    color: #D1284C;
    font-size: 25px;
    text-decoration: underline;
}

a:hover {
    color: #3551A3;
}

.logo {
    max-width: 200px;
    padding: 20px;
}

.menu-container {
    display: flex;
    row-gap: 30px;
    place-items: center;
    justify-content: space-between;
    background: #fafafa;
    border-bottom: #3551A3 solid 1px;
   
    }

    .nav {

        padding: 1rem 1rem;
        
        width: max-content;
       }
    
       .nav, #menu-checkbox {
        display: none;
       }
    
       #menu-checkbox:checked ~ .nav {
        display: block;
       }

       a {
        text-decoration: none;


       }
    
       .nav a {
        display: inline-block;
        padding: 20px 20px;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        color: #3551A3;
        }
    
        .nav a:hover {
         color: #D1284C;
        
        }

        

      .hamburger-icon {
        background-color: aliceblue;
        justify-content: center;
        align-content: center;
        padding: 10px;
        margin-left: 20px;
        font-size: 30px;
        border-radius: 2px;
        cursor: pointer;
      }
    
      .hamburger-icon:hover {
    
        color: #D1284C;

      }

      .label {
        display: none;
      }

      header {
        position:relative;
        background: #3551A3;
       }

       .hero-img {
        background: linear-gradient(
            #0103269a, #0103267b
        ), url(/images/andrew-ruiz-348421.jpg);
        position: relative;
        background-position: center;
        width: auto;
        min-height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 2rem;
    
       }

       .page-header {
        background: linear-gradient(
            #0103269a, #0103267b
        ), url(/images/library-1132573_1920.jpg);
        position: relative;
        background-position: center;
        width: auto;
        min-height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 2rem;
    
       }

       .spaces {
          background: linear-gradient(
              #0103269a, #0103267b
          ), url(/images/andrew-ruiz-348421.jpg);
          
      
         }
       

       .hero-text {
        color: aliceblue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
       }

       .page-header-headline {
        left: 20%;
       }

       span {
        color: #D1284C;
       }

       .hero-headline {
        color:aliceblue;
        font-size: 40px;
        line-height: 44px;
        font-weight: 600;
        text-align: center;
       }
       .hero-p {
        color: #FFF;
        text-align: center;
        font-size: 25px;

       }

       .btn { 
       
        padding: 10px 30px;
        border-radius: 4px;
        background: #D1284C;
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;

       }

       .btn:hover {
        background-color: #3551A3;
        color: #F1F3E2;
      }

      .content-btn {
        font-size: 15px;
        margin-top: 30px;
      }

      .blue-btn {
        font-size: 15px;
        margin-top: 30px;
        background-color: #3551A3;
      }

      .blue-btn:hover {
        background-color: #fafafa;
        color: #3551A3;
      }

       .container { 
        
        display: flex;
        gap: 40px;padding: 5%;   
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-shrink: 0;
        flex-wrap: wrap;
        background: #F1F3E2;
        
       }

       .content { 
        width: 600px;
        height: auto;
        
        
       }

       .red-container {
        width: 50%;
       }

       img {
        width: 50vh;
        border-radius: 8px;
       }

       .white {
        background-color: #FFF;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
       }

       .box {
        width: 300px;
        box-shadow: 0 4px 8px 0 rgba(18, 17, 17, 0.004);
        transition: 0.3s;
        cursor: pointer;

       }

       .box-img {
        width: 300px;
        height: 400px;
        margin-bottom: -10px;
        border-radius: 5px 5px 0 0;
       }
       .box-txt {
        text-align: center;
        background-color: #3551A3;
        padding: 5px 12px;
        border-radius: 0 0 5px 5px;
        
       }

       .box-txt h3 {
        color: #fafafa;
       }

       .box :hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
       }

       .c2a {
        background: linear-gradient( #131f42, #010326d9 ), url(/images/william-bout-264826.jpg);
        position: relative;
        background-position: center;
        width: auto;
        min-height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 2rem;
    
       }

       .c2a-p {
        font-size: 40px;
        margin: 0;
    
        line-height: 45px;
        text-align: center;
        padding-bottom: 10px;
       }

       .c2a a {
        text-decoration: underline;
      }

      .c2a a:hover {
        color:#fafafa;
      }

      button { 
        border-radius: 4px;
        background: #D1284C; 
        width: 202px;
        height: 40px;
        padding: 4px 24px;
        border-color: #D1284C;
        color: #F1F3E2;
        
        
      }

      footer {
        background: linear-gradient(0deg, rgba(6, 9, 30, 0.84) 0%, rgba(6, 9, 30, 0.84) 100%), url(/images/celso-405219.jpg);
        min-height: 300px;
        background-position: center;
        width: auto;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        place-items: center;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 100px;
        
        
      }

      .footer-logo {
        width: 300px;
        border-radius: 0px;
        padding: 20px;
      }

      .footer-content {
        color: #fafafa;
        
      }

     .footer-content h5 {
        color: #D1284C;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0px;
      }

      ul {
        margin-bottom: 10px;
        margin-left: 0px;
        padding-left: 0px;
        color: #e2e2e4;
      }

      ul a {

        color: #fff;
        font-size: 16px;
        line-height: 30px;
      }

      ul a:hover {
        color: #D1284C;
      }

      li {
        list-style-type: none;
      }

      .card {
        max-width: 50vh;
      }

      .card img {
        width: 50vh;
        
      }

      .card-v2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D1284C;
        height: 60vh;
        border-radius: 5px;
        padding: 1%;
        color: #fafafa;
        text-align: center;

      }

      .card-v2 h2 {
        color: #fafafa;
      }

      .card-v2 p {
        font-size: 20px;
      }

      .containerv2 {
        justify-content: space-around;
        align-items: flex-start;
      }

      .padding {
        padding-bottom: 50px;
      }

      .no-padding {
        padding: 5% 0 0 0;
      }

      .paddingX2 {
        padding-bottom: 20px;
      }

      .contact-text {
        line-height: 20px;
      }

      .form {
       
        min-height: 50px;
        width: 90%;
        border-radius: 5px;
        background-color: #e2e2e4;
        margin-right: 10px;
        border: #949494 solid 1px;
        margin-bottom: 20px;
        
      
      }
    
      .form-btn {
        padding: 16px 50px;
        background-color: #3551A3;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 30px;
        border: none;
        width: 90%;   
      }

      .form-btn:hover {
        background-color: #fafafa;
        color: #D1284C;
      }

      .event-flex {
        display: flex;
        background-color: #fafafa;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
        border-radius: 10px;
        padding: 10px;
      }

      .event-text {
        padding-left: 20px;
        padding-right: 20px;
      }

      .c2a-v2 {
        font-size: 20px;
        line-height: 25px;
      }

      .event-img {
        display: block;
      }



    /* MIN MEDIA START ---Navigation Rules */

  @media (min-width: 600px){
    .nav {
        display: block;
        position: static;
    }
    .hamburger-icon {
        display: none;
       }

      }

     
      /* MIN MEDIA ENDS */

      @media (max-width:600px){

        .nav {
            position: absolute;
            right: 0px;
            margin-top: 300px;
            z-index: 100;
            border-radius: 0 0px 5px 5px;
            background: rgba(255, 255, 255, 0.61);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            
          }

         

           .nav a {

            display: block;
            padding-bottom: 6px;
            font-size: 16px;
            padding: 5px;
          }

          .hero-p {
            font-size: 20px;
          }

          .c2a-p {
            font-size: 25px;
            line-height: 25px;
          }


       .c2a a {
        font-size: 20px;
      }

      footer {
        flex-direction: column;
        padding-left: 60px;
      }

      .footer-logo {
        padding: 0px;
      }

      .event-flex {
        flex-wrap: wrap;
        padding-bottom: 20px;
      }

      .c2a {
        min-height: 50vh;
      }

      .c2a-v2 {
        font-size: 20px;
      }

         


      }